<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/header.ejs') %>
  <!-- <link rel="stylesheet" href="/css/index.css"> -->
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/about.css">
  <title>About Forethought</title>
</head>

<body>
  <%- include('./partials/nav.ejs') %>
  <main>
    <div class="container-fluid">
      <div class="row pt-5 pb-5" id="buildforsdgs-homepage-feature-2">
        <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 vertical-flex-centered justify-content-center pt-5 pb-5">
          <h2 class="buildforsdgs-homepage-feature-header-2 font-weight-bold text-center mb-3">About Forethought</h2>
          <h6 class="buildforsdgs-homepage-feature-subheading-2 text-muted mb-3">This is project Forethought, sustainable development goals solution to promoting good health and well-being by linking mental health specialists to our community.</h6>
          <h6 class="buildforsdgs-homepage-feature-subheading-2 text-muted mb-3">This project tackles the third sustainable development goal of good health and well-being by linking mental health specialists to our communities. Mental illness is stigmatized in our communities which has reduced health-seeking behaviour among those affected. People fail to realize that mental illness is an health condition of the mind which changes thinking, emotions and behaviour. With proper treatment, mentally ill individuals can return back to their communities and contribute meaningfully to the society. Our project aims to facilitate the process of getting health care at the community level.</h6>
          <a href="/users/auth"><button class="buildforsdgs-homepage-button text-center"
            id="buildforsdgs-homepage-feature-1-button">Get Started</button></a>
        </div>
      </div>
    </div>
  </main>
</body>

</html>