<div class="buildforsdgs-auth-card">
  <h5 class="text-center buildforsdgs-auth-header">Create Account</h5>
  
  <form class="" method="POST" action="<%= url %>">
    <!-- <label for="username">Username</label>
    <input type="text" name="username" pattern="\w+-?\w*" minlength="4" maxlength="20" id="username" required /> -->
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" pattern="\w+-?\w*" minlength="1" maxlength="20" id="firstname" required />
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" pattern="\w+-?\w*" minlength="1" maxlength="20" id="lastname" required />
    <label for="email">Email</label>
    <input type="email" name="email" id="email" pattern=".+@\w+\.\w+" required />
    <label for="phone">Phone Number</label>
    <input type="number" name="phone" id="phone" required />
    <label for="choosePassword">Choose Password</label>
    <input type="password" name="password" id="choosePassword" required />
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" required />
    <input type="submit" value="Submit" />
  </form>
  <% if(user) { %>
  <h6>Already have an account? <a href="/users/auth" class="clickable">Log In</a></h6>
  <% } %>
</div>
