<div class="buildforsdgs-avatar">
    <img src="/assets/images/consultant.jpg" alt="consultant avatar" class="buildforsdgs-consultant-avatar">
    <div class="consultant-profile-details">
        <h5 class="consultant-profile-name mb-0">Jane Doe MD</h5>
        <h6 class="consultant-profile-hospital mb-0">St Saint Specialist Hospital</h6>
        <p class="consultant-profile-credentials mb-0">
            <span class="consultant-profile-credential"><%= "MBBS" %></span> | 
            <span class="consultant-profile-credential"><%= "FWACP" %></span> | 
            <span class="consultant-profile-credential"><%= "Ph.D" %></span> | 
        </p>
        <!-- <p><%= 1 %> Patient(s) managed</p> -->
    </div>
</div>