<nav id="buildforsdgs-nav">
  <div class="buildforsdgs-nav-brand">
    <a href="/" class="buildforsdgs-brand-link font-weight-bold nav-link m-0 p-0">Forethought</a>
  </div>
  <img src="/assets/icons/chevron-bottom.svg" alt="dropdown" width="16px" height="16px" id="dropdown-button" class="d-xs-block d-sm-block d-md-block d-lg-none d-xl-none text-white">
  <div class="buildforsdgs-nav-links">
    <a href="/consultants/auth" class="nav-link">Consultant</a>
    <a href="/users/auth" class="nav-link">Sign Up | Login</a>
    <a href="/about" class="nav-link">About</a>
    <a href="/emergency" class="nav-link"><span class="material-icons buildforsdgs-material-icons">call</span> Emergency</a>
  </div>
</nav>
<script src="/js/nav.js"></script>